 <footer class="page-footer font-small bg-secondary fixed-bottom">

     <!-- Copyright -->
     <div class="footer-copyright text-center text-light py-3">
         The Inventory Management
     </div>
     <!-- Copyright -->

 </footer>
 <!-- Footer -->